
<body>
  <section style="padding: 20px;">
    <h1 style="font-size: 32px; margin-bottom: 10px;">Welcome to Basic File Storage</h1>
    <h2 style="font-size: 24px; margin-bottom: 20px;">Created by Ethan Chiu</h2>
    <p style="font-size: 18px; margin-bottom: 20px;">
      The easiest, simplest way to access your files from anywhere.
      Preview images and videos, and download your files anywhere.
    </p>
    
    <hr style="margin: 30px 0;">
    
    <h3 style="font-size: 24px; margin-bottom: 15px;">Key Features:</h3>
    <ul style="font-size: 16px; line-height: 1.5;">
      <li style="margin-bottom: 10px;">Easy file uploading and downloading</li>
      <li style="margin-bottom: 10px;">Secure storage of your files</li>
      <li style="margin-bottom: 10px;">Preview images and videos directly in the app</li>
      <li style="margin-bottom: 10px;">Sort files by date to quickly find recent uploads</li>
      <li style="margin-bottom: 10px;">Search functionality to locate specific files</li>
      <li>Responsive design for access from any device</li>
    </ul>
    <br>
    
  </section>
</body>