<style>
    .d-flex {
        display: flex;
        flex-direction: column; /* Stacks flex items vertically */
        align-items: center; /* Centers items horizontally */
        justify-content: center; /* Centers items vertically */
    }
    
</style>
<div class="d-flex align-items-center justify-content-center">
    <h1>Welcome to Basic File Storage</h1>
    <h2>Created by Ethan Chiu</h2>
    <h3>The easiest, simplest way to access your files from anywhere.</h3>
    <h3>Preview images and videos, and download your files anywhere.</h3>
    <br><br>
    <h2>Top Features:</h2>
    <ul>
      <li>Sort your files by date to easily find recent uploads</li>
      <li>Search through your files to quickly locate specific documents</li>
      <li>Preview images and videos directly in the app without downloading</li>
    </ul>
    
</div>

