
<body>
  <section style="padding: 20px;">
    <h1 style="font-size: 32px; margin-bottom: 10px;">Welcome to Basic File Storage</h1>
    <h2 style="font-size: 24px; margin-bottom: 20px;">Created by Ethan Chiu</h2>
    <p style="font-size: 18px; margin-bottom: 20px;">
      The easiest, simplest way to access your files from anywhere.
      Preview images and videos, and download your files anywhere.
    </p>
    
    <hr style="margin: 30px 0;">
    
    <h3 style="font-size: 24px; margin-bottom: 15px;">Top Features:</h3>
    <ul style="font-size: 16px; line-height: 1.5;">
      <li style="margin-bottom: 10px;">Sort your files by date to easily find recent uploads</li>
      <li style="margin-bottom: 10px;">Search through your files to quickly locate specific documents</li>
      <li style="margin-bottom: 10px;">Preview images and videos directly in the app without downloading</li>
      <li>Best of all, only you can see your files</li>
    </ul>
    <br>
    
  </section>
</body>