<h1>Files</h1>

<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Manage Files
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="#">New File</a>
    <a class="dropdown-item" href="#">New Folder</a>
  </div>
</div>
<h1></h1>
<h1></h1>
<h1></h1>

<ul class="list-group">
  <li class="list-group-item">File placeholder <button class="btn btn-danger">Delete File<button></li>
  <li class="list-group-item">File placeholder</li>
  <li class="list-group-item">File placeholder</li>
  <li class="list-group-item">File placeholder</li>
  <li class="list-group-item">File placeholder</li>
</ul>