<div id="<%= dom_id post %>">
  <p>
    <strong>
    <h3><%= post.file.filename %></h3>
    <% if post.file.created_at %>
      <h5><%= post.file.created_at.strftime("%-d %b %Y %H:%M") %></h5>
    <% end %>
    </strong>
  </p>
  <%= render "posts/attachment", post: post %>
</div>
