
<h1>Posts</h1>

<% if @posts.any? %>
  <% if @posts.count == 1 %>
    1 Post
  <% else %>
    <%= @posts.count %> Posts
  <% end %>
<% end %> <br>

<%= link_to "New post", new_post_path, class: "btn btn-primary" %>

<div id="posts">
  <% @posts.each do |post| %>
    <%= render post %> <br>
    <p>
      <%= link_to "Show this post", post, class: "btn btn-info" %>
    </p>
  <% end %>
</div>


