<style>
  #post-count {
    font-size: 25px;
  }
</style>

<h1>Uploaded Files</h1>
<div id="post-count">
  <% if @posts.any? %>
    <% if @posts.count == 1 %>
      1 Upload
    <% else %>
      <%= @posts.count %> Uploads
    <% end %>
  <% end %> <br>
</div>

<%= link_to "New file", new_post_path, class: "btn btn-primary" %> 
<br>
<br>

<div id="posts">
  <% @posts.each do |post| %>
    <ul class="list-group">
      <li class="list-group-item"><%= link_to post.file.filename, post%></li>
    </ul>
  <% end %>
</div>


